NUXT_PUBLIC_API_BASE=https://localhost:44364
NUXT_PUBLIC_OIDC_CLIENT_ID=LuckyLotApi_App
NUXT_PUBLIC_OIDC_SCOPE=openid profile email roles LuckyLotApi offline_access
OPENAPI_URL=https://localhost:44364/swagger/v1/swagger.json
